asgiref==3.5.0
backports.zoneinfo==0.2.1
cffi==1.15.0
cryptography==37.0.1
Django==4.0.4
django-classy-tags==3.0.1
django-taggit==2.1.0
django-taggit-templatetags2==1.6.1
django-widget-tweaks==1.4.12
ndg-httpsclient==0.5.1
Pillow==9.1.0
pkg_resources==0.0.0
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==22.0.0
pytz==2022.1
sqlparse==0.4.2
